{{- if eq .chezmoi.os "darwin" -}}
#!/bin/sh

{{- $brews := list
     "awscli"
     "bat"
     "black"
     "chezmoi"
     "dockutil"
     "exa"
     "fd"
     "fish"
     "fzf"
     "gnuplot"
     "go"
     "graphviz"
     "htop"
     "httpie"
     "hub"
     "imagemagick"
     "ipcalc"
     "jq"
     "kubernetes-cli"
     "mas"
     "mosh"
     "mtr"
     "ncdu"
     "neovim"
     "node"
     "nmap"
     "pv"
     "ripgrep"
     "telnet"
     "tmux"
     "topgrade"
     "wget"
     "xz"
     "yj"
-}}
{{- $brews_personal := list
     "ffmpeg"
     "handbrake"
     "hugo"
     "netlify-cli"
     "sassc"
     "sox"
     "syncthing"
     "youtube-dl"
-}}
{{- $casks := list
     "1password"
     "1password-cli"
     "aerial"
     "alfred"
     "bartender"
     "iterm2"
     "keyboard-maestro"
     "microsoft-office"
     "obsidian"
     "typinator"
     "visual-studio-code"
-}}
{{- $casks_personal := list
     "discord"
     "firefox"
     "handbrake"
     "hazel"
     "hdhomerun"
     "iina"
     "maestral"
     "makemkv"
     "mullvadvpn"
     "tunnelblick"
     "sonos"
     "vlc"
     "zoom"
-}}
{{- $casks_work := list
     "fantastical"
     "mailmate"
-}}
{{- if .personal }}
{{   $brews = concat $brews $brews_personal }}
{{   $casks = concat $casks $casks_personal }}
{{ else }}
{{   $casks = concat $casks $casks_work }}
{{ end -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end }}
{{- range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end }}
EOF

{{- end -}}
