{{- if eq .chezmoi.os "darwin" -}}
#!/bin/sh

{{- $brews := list -}}
{{- $casks := list -}}

{{- if .personal }}
{{   $brews = concat .packages.brews .packages.brews_personal }}
{{   $casks = concat .packages.casks .packages.casks_personal }}
{{ else }}
{{   $brews = .packages.brews }}
{{   $casks = concat .packages.casks .packages.casks_work }}
{{ end -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end }}
{{- range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end }}
EOF

{{- end -}}
