{{- if eq .chezmoi.os "darwin" -}}
#!/bin/sh

{{- $brews := .packages.brews -}}
{{- $casks := .packages.casks -}}

{{- if .personal }}
{{   $brews = concat $brews .packages.brews_personal }}
{{   $casks = concat $casks .packages.casks_personal }}
{{ else }}
{{   $casks = concat $casks .packages.casks_work }}
{{ end -}}

brew bundle --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end }}
{{- range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end }}
EOF

{{- end -}}
