{{- $personal_hosts := list
      "doctor" "dublin" "hass" "mykonos" "turbo"
-}}
{{- $personal := false -}}
{{- $email := "smkelly@smkelly.org" -}}

{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $hostname := output "scutil" "--get" "ComputerName" | trim -}}
{{- end -}}

{{- $osId := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osId = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- if or ($hostname | contains "smkelly.org") (has $hostname $personal_hosts) -}}
{{-   $personal = true -}}
{{- end -}}
{{- $personal := promptBoolOnce . "personal" "Is this a personal device" $personal }}

{{- if not $personal }}
{{-   $email = "smkelly@flightaware.com" }}
{{- end -}}
{{- $email := promptStringOnce . "email" "What is your email address" $email -}}


format = "yaml"
progress = true

[data]
email = {{ $email | quote }}
name = "Sean Kelly"
personal = {{ $personal }} 
hostname = {{ $hostname | quote }}
osId = {{ $osId | quote }}
