Include conf.d/*.conf

Host *
    User smkelly
    AddKeysToAgent yes
    {{- if eq .chezmoi.os "darwin" }}
    UseKeychain yes
    {{- end }}

Host github.com
    User git
    Hostname github.com
    PreferredAuthentications publickey

