set -l paths \
  $HOME/bin \
  $HOME/.local/bin \
  $HOME/.cargo/bin

{{ if eq .chezmoi.os "darwin" }}
# macOS
set -a paths \
  /opt/homebrew/bin \
  /opt/homebrew/sbin
{{- else if eq .chezmoi.os "freebsd" }}
# FreeBSD
set -a paths \
  /usr/local/bin \
  /usr/local/sbin
{{- else if eq .chezmoi.os "linux" }}
# Linux
set -a paths \
  /usr/local/bin \
  /usr/local/sbin
{{- end }}

fish_add_path $paths

alias ...="cd ../../"
alias ....="cd ../../../"
